a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-nav {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  height: 50px;
}
